Reports/NucleusRH/Base/Liquidacion/SueldosAPagar/SueldosAPagar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="LIQUIDACIONES">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LIQUIDACION"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LIQUIDACION">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PERSONAS"/>
        <xs:element ref="TOTALES"/>
      </xs:sequence>
      <xs:attribute name="CODEMP" use="required" type="xs:integer"/>
      <xs:attribute name="CODLIQ" use="required" type="xs:integer"/>
      <xs:attribute name="DSCEMP" use="required"/>
      <xs:attribute name="FLIQ" use="required"/>
      <xs:attribute name="TITLIQ" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PERSONA"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONA">
    <xs:complexType>
      <xs:attribute name="ApeNom" use="required"/>
      <xs:attribute name="CTA" type="xs:integer"/>
      <xs:attribute name="Cuil" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="NumLeg" use="required" type="xs:integer"/>
      <xs:attribute name="neto" use="required" type="xs:decimal"/>
      <xs:attribute name="sueldo" use="required" type="xs:decimal"/>
      <xs:attribute name="total" use="required" type="xs:decimal"/>
      <xs:attribute name="totcont" use="required" type="xs:decimal"/>
      <xs:attribute name="totsret" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TOTALES">
    <xs:complexType>
      <xs:attribute name="NumLeg" use="required" type="xs:integer"/>
      <xs:attribute name="neto" use="required" type="xs:decimal"/>
      <xs:attribute name="sueldo" use="required" type="xs:decimal"/>
      <xs:attribute name="total" use="required" type="xs:decimal"/>
      <xs:attribute name="totcont" use="required" type="xs:decimal"/>
      <xs:attribute name="totsret" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
