Reports/NucleusRH/Base/Tiempos_Trabajados/ResumenHoras/resumenhoras.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="FILTROS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CLASE_ORGANIZATIVA"/>
      </xs:sequence>      
      <xs:attribute name="personas" use="required"/>
      <xs:attribute name="d_clase_org" use="required"/>
      <xs:attribute name="d_empresa" use="required"/>
      <xs:attribute name="d_unidad_org" use="required"/>
      <xs:attribute name="f_informe" use="required"/>
      <xs:attribute name="f_des" use="required"/>
      <xs:attribute name="f_has" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CLASE_ORGANIZATIVA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ESTRUCTURA_PADRE"/>
      </xs:sequence>
      <xs:attribute name="d_clase" use="required"/>
      <xs:attribute name="oi_clase_org" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESTRUCTURA_PADRE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PERSONAS_PADRE"/>
        <xs:element ref="UNIDADES_ORGS"/>
      </xs:sequence>
      <xs:attribute name="c_unidad_org_padre" use="required" type="xs:integer"/>
      <xs:attribute name="d_tipo_uni_org_padre" use="required" type="xs:NCName"/>
      <xs:attribute name="d_unidad_org_padre" use="required"/>
      <xs:attribute name="oi_estructura_org_padre" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONAS_PADRE">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PERSONA_PADRE"/>
      </xs:sequence>
      <xs:attribute name="pp" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONA_PADRE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TIPOS_HORAS_PADRE"/>
      </xs:sequence>
      <xs:attribute name="personal" use="required"/>
      <xs:attribute name="d_ape_y_nom" use="required"/>
      <xs:attribute name="e_numero_legajo" use="required" type="xs:integer"/>
      <xs:attribute name="oi_personal_emp" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TIPOS_HORAS_PADRE">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="TIPO_HORA_PADRE"/>
      </xs:sequence>
      <xs:attribute name="pp" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TIPO_HORA_PADRE">
    <xs:complexType>
      <xs:attribute name="d_tipohora" use="required"/>
      <xs:attribute name="oi_tipohora" use="required" type="xs:integer"/>
      <xs:attribute name="totalhs" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="UNIDADES_ORGS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ESTRUCTURA"/>
      </xs:sequence>
      <xs:attribute name="pp" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESTRUCTURA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PERSONAS"/>
      </xs:sequence>
      <xs:attribute name="d_tipo_uni_org" use="required" type="xs:NCName"/>
      <xs:attribute name="d_unidad_org" use="required"/>
      <xs:attribute name="oi_estructura_org" use="required" type="xs:integer"/>
      <xs:attribute name="oi_unidad_org" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PERSONA"/>
      </xs:sequence>
      <xs:attribute name="pp" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TIPOS_HORAS"/>
      </xs:sequence>
      <xs:attribute name="personal" use="required"/>
      <xs:attribute name="d_ape_y_nom" use="required"/>
      <xs:attribute name="e_numero_legajo" use="required" type="xs:integer"/>
      <xs:attribute name="oi_personal_emp" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TIPOS_HORAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="TIPO_HORA"/>
      </xs:sequence>
      <xs:attribute name="pp" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TIPO_HORA">
    <xs:complexType>
      <xs:attribute name="d_tipohora" use="required"/>
      <xs:attribute name="oi_tipohora" use="required" type="xs:integer"/>
      <xs:attribute name="totalhs" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
