Reports/NucleusRH/Base/Personal/RemuneracionesDC/remuneracionesDC.xsd

 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="DATOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PERSONAS"/>
      </xs:sequence>
      <xs:attribute name="FiltroCategoria" use="required"/>
      <xs:attribute name="d_empresa" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PERSONAS_DC"/>
      </xs:sequence>
      <xs:attribute name="legajo" use="required" type="xs:integer"/>
      <xs:attribute name="pp" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONAS_DC">
    <xs:complexType>
      <xs:attribute name="Antig" use="required" type="xs:integer"/>
      <xs:attribute name="c_categoria" use="required" type="xs:integer"/>
      <xs:attribute name="c_convenio" use="required" type="xs:integer"/>
      <xs:attribute name="c_posicion" use="required" type="xs:NCName"/>
      <xs:attribute name="c_puesto" use="required" type="xs:NCName"/>
      <xs:attribute name="d_ape_y_nom" use="required"/>
      <xs:attribute name="d_categoria" use="required"/>
      <xs:attribute name="d_convenio" use="required"/>
      <xs:attribute name="d_posicion" use="required"/>
      <xs:attribute name="d_puesto" use="required" type="xs:NCName"/>
      <xs:attribute name="e_antig_anios" use="required" type="xs:integer"/>
      <xs:attribute name="f_antiguedad_rec" use="required"/>
      <xs:attribute name="f_ingreso" use="required"/>
      <xs:attribute name="filtro_categ" use="required" type="xs:integer"/>
      <xs:attribute name="n_sueldo" use="required" type="xs:decimal"/>
      <xs:attribute name="n_sueldo_basico" use="required" type="xs:decimal"/>
      <xs:attribute name="n_ult_remun" use="required" type="xs:decimal"/>
      <xs:attribute name="oi_banda_sal" use="required" type="xs:integer"/>
      <xs:attribute name="oi_categoria_ult" use="required" type="xs:integer"/>
      <xs:attribute name="oi_empresa" use="required" type="xs:integer"/>
      <xs:attribute name="oi_posicion" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
</xs:schema>


