Reports/NucleusRH/Base/Personal/RemuneracionesFC/remuneracionesFC.xsd

 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="DATOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PERSONAS_FC"/>
      </xs:sequence>
      <xs:attribute name="d_empresa" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONAS_FC">
    <xs:complexType>
      <xs:attribute name="c_posicion" use="required" type="xs:integer"/>
      <xs:attribute name="c_puesto" use="required" type="xs:NCName"/>
      <xs:attribute name="d_ape_y_nom" use="required"/>
      <xs:attribute name="d_posicion" use="required" type="xs:NCName"/>
      <xs:attribute name="d_puesto" use="required" type="xs:NCName"/>
      <xs:attribute name="e_numero_legajo" use="required" type="xs:integer"/>
      <xs:attribute name="f_ingreso" use="required"/>
      <xs:attribute name="n_Prom_BS" use="required" type="xs:decimal"/>
      <xs:attribute name="n_sal_maximo_BS" use="required" type="xs:decimal"/>
      <xs:attribute name="n_sal_maximo_NS" use="required" type="xs:decimal"/>
      <xs:attribute name="n_sal_minimo_BS" use="required" type="xs:decimal"/>
      <xs:attribute name="n_sal_minimo_NS" use="required" type="xs:decimal"/>
      <xs:attribute name="n_ult_remun" use="required" type="xs:decimal"/>
      <xs:attribute name="oi_empresa" use="required" type="xs:integer"/>
      <xs:attribute name="oi_posicion" use="required" type="xs:integer"/>
      <xs:attribute name="oi_puesto" use="required" type="xs:integer"/>
      <xs:attribute name="pp" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>


