Reports/NucleusRH/Base/Tiempos_Trabajados/CalendarEsp/CalendarEsp.xsd

<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'>

 <xsd:element name='semana'>
  <xsd:complexType>
   <xsd:attribute name='UnidadOrganizativa' type='xsd:string' use='required'/>
   <xsd:attribute name='Tipo_Hora' type='xsd:string' use='required'/>
   <xsd:attribute name='Hasta' type='xsd:string' use='required'/>
   <xsd:attribute name='Desde' type='xsd:string' use='required'/>
   <xsd:attribute name='Posicion' type='xsd:string' use='required'/>
   <xsd:attribute name='Dia' type='xsd:string' use='required'/>
   <xsd:attribute name='NombreDia' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='ESCUADRAS'>
  <xsd:complexType>
   <xsd:sequence maxOccurs='unbounded'>
    <xsd:element ref='semana'/>
   </xsd:sequence>
   <xsd:attribute name='avance' type='xsd:string' use='required'/>
   <xsd:attribute name='oi_calendario' type='xsd:string' use='required'/>
   <xsd:attribute name='oi_escuadra' type='xsd:string' use='required'/>
   <xsd:attribute name='escuadra' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='CALENDARIO'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='ESCUADRAS'/>
   </xsd:sequence>
   <xsd:attribute name='oi_calendario' type='xsd:string' use='required'/>
   <xsd:attribute name='d_calendario' type='xsd:string' use='required'/>
   <xsd:attribute name='c_calendario' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='DATOS'>
  <xsd:complexType>
   <xsd:sequence maxOccurs='unbounded'>
    <xsd:element ref='CALENDARIO'/>
   </xsd:sequence>
   <xsd:attribute name='d_horario' type='xsd:string' use='required'/>
   <xsd:attribute name='c_horario' type='xsd:string' use='required'/>
   <xsd:attribute name='has' type='xsd:string' use='required'/>
   <xsd:attribute name='f_des' type='xsd:string' use='required'/>
   <xsd:attribute name='d_empresa' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
