Reports/NucleusRH/Base/Tiempos_Trabajados/Etiquetas/Etiquetas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ETIQUETAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PERSONAS"/>
      </xs:sequence>
      <xs:attribute name="clase_org" use="required"/>
      <xs:attribute name="empresa" use="required"/>
      <xs:attribute name="estructura" use="required"/>
      <xs:attribute name="personas" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PERSONA"/>
      </xs:sequence>
      <xs:attribute name="pp" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONA">
    <xs:complexType>
      <xs:attribute name="c_grupo_sanguineo"/>
      <xs:attribute name="c_nro_cuil" type="xs:NMTOKEN"/>
      <xs:attribute name="d_ape_y_nom" use="required"/>
      <xs:attribute name="d_art"/>
      <xs:attribute name="d_empresa" use="required"/>
      <xs:attribute name="img" use="required"/>
      <xs:attribute name="oi_personal" use="required" type="xs:integer"/>
      <xs:attribute name="te_1" type="xs:NMTOKEN"/>
      <xs:attribute name="te_art" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
