Reports/NucleusRH/Base/Liquidacion/SueldoBruto/SueldoBruto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="RESUMEN">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ESTRUCTURAS"/>
      </xs:sequence>
      <xs:attribute name="clase_org" use="required"/>
      <xs:attribute name="d_clase" use="required"/>
      <xs:attribute name="TITLIQ" use="required"/>
      <xs:attribute name="empresa" use="required"/>
      <xs:attribute name="mes_desde" use="required"/>
      <xs:attribute name="mes_hasta" use="required"/>
      <xs:attribute name="oi_clase_org" use="required" type="xs:integer"/>
      <xs:attribute name="personas" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESTRUCTURAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ESTRUCTURA"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESTRUCTURA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PERSONAS"/>
      </xs:sequence>
      <xs:attribute name="c_unidad_org_padre" type="xs:integer"/>
      <xs:attribute name="oi_estructura" use="required" type="xs:integer"/>
      <xs:attribute name="oi_unidad_org" type="xs:integer"/>
      <xs:attribute name="unidad_org" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PERSONA"/>
      </xs:sequence>
      <xs:attribute name="pp" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONA">
    <xs:complexType>
      <xs:attribute name="Legajo" use="required" type="xs:integer"/>
      <xs:attribute name="nombreapellido" use="required"/>
      <xs:attribute name="sueldoBruto" use="required" type="xs:decimal"/>
      <xs:attribute name="totalContribucion" use="required" type="xs:decimal"/>
      <xs:attribute name="totalNeto" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
</xs:schema>


