Reports/NucleusRH/Base/Tiempos_Trabajados/Horarios/horarios.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="HORARIOSPERS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ESTRUCTURAS"/>
      </xs:sequence>
      <xs:attribute name="clase_org" use="required"/>
      <xs:attribute name="d_clase" use="required" type="xs:NCName"/>
      <xs:attribute name="empresa" use="required"/>
      <xs:attribute name="estado" use="required" type="xs:NCName"/>
      <xs:attribute name="estructura" use="required" type="xs:NCName"/>
      <xs:attribute name="f_desde" use="required"/>
      <xs:attribute name="f_hasta" use="required"/>
      <xs:attribute name="f_informe" use="required"/>
      <xs:attribute name="oi_clase_org" use="required" type="xs:integer"/>
      <xs:attribute name="personas" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESTRUCTURAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ESTRUCTURA"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESTRUCTURA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="HORARIOS"/>
      </xs:sequence>
      <xs:attribute name="c_unidad_org_padre" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="oi_estructura" type="xs:integer"/>
      <xs:attribute name="unidad_org" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="HORARIOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="HORARIO"/>
      </xs:sequence>
      <xs:attribute name="pp" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="HORARIO">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PERSONAS"/>
      </xs:sequence>
      <xs:attribute name="d_horario" use="required"/>
      <xs:attribute name="oi_horario" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PERSONA"/>
      </xs:sequence>
      <xs:attribute name="pp" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONA">
    <xs:complexType>
    <xs:attribute name="oi_personal_emp" use="required" type="xs:integer"/>
      <xs:attribute name="c_estado" use="required" type="xs:NCName"/>
      <xs:attribute name="f_fechaInicio" use="required"/>
      <xs:attribute name="f_fechaFin" use="required"/>
      <xs:attribute name="d_escuadra" use="required"/>
      <xs:attribute name="personal" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
