Reports/NucleusRH/Base/Liquidacion/NovedadesLiquidacion/NovedadesLiquidacion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="DATOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LIQUIDACION"/>
        <xs:element ref="PERSONAS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LIQUIDACION">
    <xs:complexType>
      <xs:attribute name="c_empresa" use="required" type="xs:integer"/>
      <xs:attribute name="c_liquidacion" use="required" type="xs:integer"/>
      <xs:attribute name="cuantas" use="required" type="xs:integer"/>
      <xs:attribute name="d_empresa" use="required"/>
      <xs:attribute name="d_titulo" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Persona"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persona">
    <xs:complexType>
      <xs:attribute name="c_variable" use="required" type="xs:NCName"/>
      <xs:attribute name="d_ape_y_nom" use="required"/>
      <xs:attribute name="d_variable" use="required"/>
      <xs:attribute name="e_numero_legajo" use="required" type="xs:integer"/>
      <xs:attribute name="valor" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
