Reports/NucleusRH/Base/Personal/Licencias/licencias.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="clase-organizativa">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="padre"/>
      </xs:sequence>
      <xs:attribute name="d_clase_org" use="required"/>
      <xs:attribute name="d_empresa" use="required"/>
      <xs:attribute name="f_des" use="required"/>
      <xs:attribute name="f_has" use="required"/>
      <xs:attribute name="oi_clase_org" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="padre">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ESTRUCTURAS"/>
      </xs:sequence>
      <xs:attribute name="c_unidad_org_padre" use="required" type="xs:integer"/>
      <xs:attribute name="d_unidad_org_padre" use="required"/>
      <xs:attribute name="oi_estructura_org" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESTRUCTURAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UNIDAD-ORGANIZATIVA"/>
      </xs:sequence>
      <xs:attribute name="pp" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="UNIDAD-ORGANIZATIVA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PERSONAS"/>
      </xs:sequence>
      <xs:attribute name="d_tipo_uni_org" use="required" type="xs:NCName"/>
      <xs:attribute name="d_unidad_org" use="required"/>
      <xs:attribute name="oi_estructura_org" use="required" type="xs:integer"/>
      <xs:attribute name="oi_unidad_org" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PERSONA"/>
      </xs:sequence>
      <xs:attribute name="pp" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONA">
    <xs:complexType>
      <xs:attribute name="d_ape_y_nom" use="required"/>
      <xs:attribute name="e_cant_dias" use="required" type="xs:integer"/>
      <xs:attribute name="e_max_dias_anio" use="required" type="xs:integer"/>
      <xs:attribute name="e_max_dias_lic" use="required" type="xs:integer"/>
      <xs:attribute name="e_numero_legajo" use="required" type="xs:integer"/>
      <xs:attribute name="f_des" use="required" type="xs:integer"/>
      <xs:attribute name="f_fin" use="required"/>
      <xs:attribute name="f_has" use="required" type="xs:integer"/>
      <xs:attribute name="f_inicio" use="required"/>
      <xs:attribute name="id" use="required" type="xs:integer"/>
      <xs:attribute name="oi_clase_org" use="required" type="xs:integer"/>
      <xs:attribute name="oi_empresa" use="required" type="xs:integer"/>
      <xs:attribute name="oi_licencia" use="required" type="xs:integer"/>
      <xs:attribute name="d_licencia" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>


