Reports/NucleusRH/Base/Tiempos_Trabajados/Puntualidad/Puntualidad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="PUNTUALIDADTARDANZAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ESTRUCTURAS"/>
      </xs:sequence>
      <xs:attribute name="clase_org" use="required"/>
      <xs:attribute name="condicion" use="required" type="xs:NCName"/>
      <xs:attribute name="d_clase" use="required"/>
      <xs:attribute name="desde_tardanza" use="required" type="xs:integer"/>
      <xs:attribute name="empresa" use="required"/>
      <xs:attribute name="estructura" use="required"/>
      <xs:attribute name="f_desde" use="required"/>
      <xs:attribute name="f_hasta" use="required"/>
      <xs:attribute name="f_informe" use="required"/>
      <xs:attribute name="hasta_tardanza" use="required" type="xs:integer"/>
      <xs:attribute name="oi_clase_org" use="required" type="xs:integer"/>
      <xs:attribute name="personas" use="required" type="xs:NCName"/>
      <xs:attribute name="pre_puntual" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESTRUCTURAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ESTRUCTURA"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESTRUCTURA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PERSONAS"/>
      </xs:sequence>
      <xs:attribute name="c_unidad_org_padre" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="oi_estructura" use="required" type="xs:integer"/>
      <xs:attribute name="unidad_org" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PERSONA"/>
      </xs:sequence>
      <xs:attribute name="f_fechainicio" use="required"/>
      <xs:attribute name="f_fin" use="required" type="xs:integer"/>
      <xs:attribute name="f_fin_ultima" type="xs:integer"/>
      <xs:attribute name="f_ini" use="required" type="xs:integer"/>
      <xs:attribute name="inicio" use="required" type="xs:integer"/>
      <xs:attribute name="oi_personal_emp" use="required" type="xs:integer"/>
      <xs:attribute name="pp" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PERSONA">
    <xs:complexType>
      <xs:attribute name="condicion" use="required" type="xs:NCName"/>
      <xs:attribute name="f_fichada" use="required"/>
      <xs:attribute name="f_ini_esperanza" use="required"/>
      <xs:attribute name="oi_personal_emp" use="required" type="xs:integer"/>
      <xs:attribute name="personal" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
